* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.quiz_form {
    backdrop-filter:blur(2px);
    border: solid white;
    width: 80%;
    max-width: 600px;
    padding: 25px;
    margin: 50px auto 0;
    border-radius: 10px;
}

.quiz_form h1 {
    font-size: 25px;
    color: #040404;
    font-weight: 600;
    border-bottom: 1px solid #F5F5DC;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.quiz h2 {
    font-size: 19px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 15px;
}

.btn {
    background-color: rgb(241, 234, 234);
    color: rgb(26, 25, 25);
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}

#score {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.nextbtn {
    background-color: rgb(39, 58, 220);
    color: #fff;
    font-weight: 500;
    border: 0;
    width: 150px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    text-align: center;
}

.correct {
    background: #9aeabc !important;
}

.incorrect {
    background: #ff9393 !important;
}

.btn:hover {
    background-color: black;
    color: white;
    font-weight: bold;
}

.nextbtn:hover {
    background-color: #1230AE;
}
